# Connect to the CAS server and create a CAS session

## Import packages and create a session

When working with CAS, you need to connect to the CAS server and the session is used to established that connection and create a kind of sandbox where the users can manage their data inside a CASUSER library and interact with data located in other libraries based on the rights managed within SAS Viya.

In [20]:
import swat

session = swat.CAS(
    "https://server.demo.sas.com/cas-shared-default-http",
    authinfo='/home/sbxxab/.authinfo',
    ssl_ca_list="/home/sbxxab/server.demo.sas.com.cer",
)

## Check available tables

In [21]:
session.tableinfo(caslib="casuser")

NOTE: No tables are available in caslib CASUSER(student) of Cloud Analytic Services.

+ Elapsed: 0.000706s, user: 0.000488s, sys: 0.000163s, mem: 0.284mb

## Load a CSV file from the web

A CAS table can be loaded into memory from many kinds of data sources. In this example, we are loading data directly from a GitHub repository using HTTP protocol. 
The CAS table is loaded from a CSV file and the *tbl* variable will store the pointer to the CAS Table.

In [22]:
data_source = "https://raw.githubusercontent.com/sassoftware/sas-viya-programming/master/data/cars.csv"
table_name = "cars"

tbl = session.read_csv(data_source, table_name)

NOTE: Cloud Analytic Services made the uploaded file available as table CARS in caslib CASUSER(student).
NOTE: The table CARS has been created in caslib CASUSER(student) from binary data uploaded to Cloud Analytic Services.

## Visualize data

In [23]:
tbl.head(5)

Selected Rows from Table CARS

    Make           Model   Type Origin DriveTrain     MSRP  Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
0  Acura             MDX    SUV   Asia        All  36945.0  33337.0         3.5        6.0       265.0      17.0         23.0  4451.0      106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  23820.0  21761.0         2.0        4.0       200.0      24.0         31.0  2778.0      101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia      Front  26990.0  24647.0         2.4        4.0       200.0      22.0         29.0  3230.0      105.0   183.0
3  Acura          TL 4dr  Sedan   Asia      Front  33195.0  30299.0         3.2        6.0       270.0      20.0         28.0  3575.0      108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia      Front  43755.0  39014.0         3.5        6.0       225.0      18.0         24.0  3880.0      115.0   197.0

## Get simple statistics from the data

In [24]:
tbl.describe()

                MSRP        Invoice  EngineSize   Cylinders  Horsepower    MPG_City  MPG_Highway       Weight   Wheelbase      Length
count     428.000000     428.000000  428.000000  426.000000  428.000000  428.000000   428.000000   428.000000  428.000000  428.000000
mean    32774.855140   30014.700935    3.196729    5.807512  215.885514   20.060748    26.843458  3577.953271  108.154206  186.362150
std     19431.716674   17642.117750    1.108595    1.558443   71.836032    5.238218     5.741201   758.983215    8.311813   14.357991
min     10280.000000    9875.000000    1.300000    3.000000   73.000000   10.000000    12.000000  1850.000000   89.000000  143.000000
25%     20329.500000   18851.000000    2.350000    4.000000  165.000000   17.000000    24.000000  3103.000000  103.000000  178.000000
50%     27635.000000   25294.500000    3.000000    6.000000  210.000000   19.000000    26.000000  3474.500000  107.000000  187.000000
75%     39215.000000   35732.500000    3.900000    6.000000  255.000000   21.500000    29.000000  3978.500000  112.000000  194.000000
max    192465.000000  173560.000000    8.300000   12.000000  500.000000   60.000000    66.000000  7190.000000  144.000000  238.000000

## Get summary statistics from the data

In [25]:
tbl.summary()

[Summary]

 Descriptive Statistics for CARS

         Column      Min       Max      N  NMiss          Mean         Sum           Std      StdErr           Var           USS           CSS         CV      TValue          ProbT  Skewness   Kurtosis
 0         MSRP  10280.0  192465.0  428.0    0.0  32774.855140  14027638.0  19431.716674  939.267478  3.775916e+08  6.209854e+11  1.612316e+11  59.288490   34.894059  4.160412e-127  2.798099  13.879206
 1      Invoice   9875.0  173560.0  428.0    0.0  30014.700935  12846292.0  17642.117750  852.763949  3.112443e+08  5.184789e+11  1.329013e+11  58.778256   35.196963  2.684398e-128  2.834740  13.946164
 2   EngineSize      1.3       8.3  428.0    0.0      3.196729      1368.2      1.108595    0.053586  1.228982e+00  4.898540e+03  5.247754e+02  34.679034   59.656105  3.133745e-209  0.708152   0.541944
 3    Cylinders      3.0      12.0  426.0    2.0      5.807512      2474.0      1.558443    0.075507  2.428743e+00  1.540000e+04  1.032216e+03  26.834946   76.913766  1.515569e-251  0.592785   0.440378
 4   Horsepower     73.0     500.0  428.0    0.0    215.885514     92399.0     71.836032    3.472326  5.160415e+03  2.215110e+07  2.203497e+06  33.275059   62.173176  4.185344e-216  0.930331   1.552159
 5     MPG_City     10.0      60.0  428.0    0.0     20.060748      8586.0      5.238218    0.253199  2.743892e+01  1.839580e+05  1.171642e+04  26.111777   79.229235  1.866284e-257  2.782072  15.791147
 6  MPG_Highway     12.0      66.0  428.0    0.0     26.843458     11489.0      5.741201    0.277511  3.296139e+01  3.224790e+05  1.407451e+04  21.387709   96.729204  1.665621e-292  1.252395   6.045611
 7       Weight   1850.0    7190.0  428.0    0.0   3577.953271   1531364.0    758.983215   36.686838  5.760555e+05  5.725125e+09  2.459757e+08  21.212776   97.526890  5.812547e-294  0.891824   1.688789
 8    Wheelbase     89.0     144.0  428.0    0.0    108.154206     46290.0      8.311813    0.401767  6.908624e+01  5.035958e+06  2.949982e+04   7.685150  269.196577   0.000000e+00  0.962287   2.133649
 9       Length    143.0     238.0  428.0    0.0    186.362150     79763.0     14.357991    0.694020  2.061519e+02  1.495283e+07  8.802687e+04   7.704349  268.525733   0.000000e+00  0.181977   0.614725

+ Elapsed: 0.00319s, user: 0.00417s, mem: 1.91mb

If you pass parameters to the summary action, you can restrict the variables which are analyzed and also the returned calculations.

In [ ]:
tbl.summary(inputs=["MPG_City", "MPG_Highway"], subSet=["mean", "min", "max"])

## Enrich the data with computed variables

In [ ]:
tbl.computedVarsProgram = "MPG_Avg = mean(MPG_City, MPG_Highway);"

In [ ]:
tbl.summary(
    inputs=["MPG_City", "MPG_Highway", "MPG_Avg"], subSet=["mean", "min", "max"]
)

## Retrieve result in a variable

In [ ]:
highest_msrp = tbl["MSRP"].max()
highest_msrp

## Query the data based on a parameter

In [ ]:
tbl.query(f"MSRP = {highest_msrp}").head()

## Rank the values

In [ ]:
df_top10 = tbl.nlargest(10, "MSRP")
display(df_top10)

## Table management

When you work with CAS tables, by default, the table will not be persisted between sessions. If you close the session, the data will be removed from memory and you will have to reload the data set from the source.

In [26]:
session.tableinfo(caslib="casuser")

[TableInfo]

    Name  Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart SourceName SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime TableRedistUpPolicy
 0  CARS   428       15               0    utf-8  2025-04-16T14:07:54+00:00  2025-04-16T14:07:54+00:00  2025-04-16T14:08:24+00:00        UTF8  2.060432e+09  2.060432e+09  2.060432e+09       0         0     0          0                                   0  student           2025-04-16T14:07:54+00:00   2.060432e+09       Not Specified

+ Elapsed: 0.00252s, user: 0.00109s, mem: 0.702mb

In [27]:
session.close()

In [28]:
session = swat.CAS(
    "https://server.demo.sas.com/cas-shared-default-http",
    authinfo="/home/sbxxab/.authinfo",
    ssl_ca_list="/home/sbxxab/server.demo.sas.com.cer",
)

In [29]:
session.tableinfo(caslib="casuser")

NOTE: No tables are available in caslib CASUSER(student) of Cloud Analytic Services.

+ Elapsed: 0.000705s, user: 0.00047s, sys: 0.000174s, mem: 0.284mb

In [30]:
data_source = "https://raw.githubusercontent.com/sassoftware/sas-viya-programming/master/data/cars.csv"
table_name = "cars"

tbl = session.read_csv(data_source, table_name)

NOTE: Cloud Analytic Services made the uploaded file available as table CARS in caslib CASUSER(student).
NOTE: The table CARS has been created in caslib CASUSER(student) from binary data uploaded to Cloud Analytic Services.

In [31]:
session.promote("cars", "casuser")

NOTE: Cloud Analytic Services promoted table CARS in caslib CASUSER(student) to table cars in caslib CASUSER(student).

+ Elapsed: 0.00142s, sys: 0.00118s, mem: 0.333mb

In [32]:
session.close()

In [33]:
session = swat.CAS(
    "https://server.demo.sas.com/cas-shared-default-http",
    authinfo="/home/sbxxab/.authinfo",
    ssl_ca_list="/home/sbxxab/server.demo.sas.com.cer",
)

In [34]:
session.tableinfo(caslib="casuser")

[TableInfo]

    Name  Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart SourceName SourceCaslib  Compressed  Creator Modifier     SourceModTimeFormatted  SourceModTime TableRedistUpPolicy
 0  CARS   428       15               0    utf-8  2025-04-16T14:17:56+00:00  2025-04-16T14:18:00+00:00  2025-04-16T14:18:00+00:00        UTF8  2.060432e+09  2.060432e+09  2.060432e+09       1         0     0          0                                   0  student           2025-04-16T14:17:56+00:00   2.060432e+09       Not Specified

+ Elapsed: 0.00227s, sys: 0.002s, mem: 0.721mb

In [37]:

tbl = session.CASTable("cars", caslib="casuser")
tbl.save(caslib="casuser", name="cars.sashdat", replace=True)

NOTE: Cloud Analytic Services saved the file cars.sashdat in caslib CASUSER(student).

[caslib]

 'CASUSER(student)'

[name]

 'cars.sashdat'

+ Elapsed: 0.0101s, user: 0.00271s, sys: 0.00052s, mem: 16.9mb

In [38]:
session.fileInfo(caslib = 'casuser')['FileInfo'].loc[:,['Permission','Name', 'Time']]

   Permission          Name                       Time
0  -rwxr-xr-x  cars.sashdat  2025-04-16T14:19:40+00:00

In [39]:
session.droptable("cars")

NOTE: Cloud Analytic Services dropped table cars from caslib CASUSER(student).

+ Elapsed: 0.000835s, user: 0.000492s, sys: 0.00015s, mem: 0.273mb

In [40]:
session.close()

In [41]:
session = swat.CAS(
    "https://server.demo.sas.com/cas-shared-default-http",
    authinfo="/home/sbxxab/.authinfo",
    ssl_ca_list="/home/sbxxab/server.demo.sas.com.cer",
)

In [ ]:
session.tableinfo(caslib="casuser")

In [42]:
session.loadTable(
    path="cars.sashdat",
    caslib="casuser",
    casout={"name": "my_cars", "caslib": "casuser", "replace": True},
)

NOTE: Cloud Analytic Services made the file cars.sashdat available as table MY_CARS in caslib CASUSER(student).

[caslib]

 'CASUSER(student)'

[tableName]

 'MY_CARS'

[casTable]

 CASTable('MY_CARS', caslib='CASUSER(student)')

+ Elapsed: 0.00181s, sys: 0.00142s, mem: 0.71mb

In [44]:
tbl = session.CASTable("my_cars", caslib="casuser")
tbl.head(3)

Selected Rows from Table MY_CARS

    Make           Model   Type Origin DriveTrain     MSRP  Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
0  Acura             MDX    SUV   Asia        All  36945.0  33337.0         3.5        6.0       265.0      17.0         23.0  4451.0      106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  23820.0  21761.0         2.0        4.0       200.0      24.0         31.0  2778.0      101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia      Front  26990.0  24647.0         2.4        4.0       200.0      22.0         29.0  3230.0      105.0   183.0

In [ ]:
session.close()